@media(max-width: 900px){
    .films-block{
        grid-template-columns: 1fr 1fr;
    }
    
    .films-block .box{
        max-width: 433px;
        width: 100% !important;
    }
}

@media(max-width: 750px){
    .collections .block{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 580px){
    header .menu nav{
        flex-direction: column;
        padding-top: 10px;
    }
    
    header .menu nav ul li a{
        padding: 15px 10px;
    }
    
    header .poster{
        padding: 10px 0;
    }
    
    header .poster i{
        font-size: 30px;
    }
    
    header .poster p{
        font-size: 12px;
        margin-left: 10px;
        width: 106px;
    }
    
    header .text h1{
        font-size: 41px;
        margin-bottom: 17px;
    }
    
    header .text p{
        font-size: 15px;
    }
    
    header .text .btn{
        flex-direction: column;
    }
    
    header .text .btn a{
        margin-bottom: 15px;
    }
    
}

@media(max-width: 480px){
    .films-block{
        grid-template-columns: 1fr;
    }
    
    .films-block .box{
        max-width: none;
    }
}